/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #87CEEB;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333; /* Text color is dark gray */
}

header {
    background-color: #9370db;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    color: #fff; /* Text color for header is white */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px 0;
}

section h2 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.dark {
    background-color: #333;
    color: #fff;
}

.feature {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #FFB6C1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature img {
    max-width: 100%;
}

.feature h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
}

